<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Post List</title>
    </head>
    <body>
        <div>
            <h1><a href="">Blog</a></h1>
        </div>

        <div>
            <p>published: 20.09.2018, 12:00</p>
            <h2><a href="">First post.</a></h2>
            <p>
                gfkugjeqhbjvnb,mnb hlwkqjefklwgfb jkqwfehkwefjhkgjwrq ;uh'kgevlknDVN G HGKJGKHGF
                hjguyjcvhjvkjhwe efwiufuycgueywfyucvuqyvc dqwhqiwudgljhcvb
                cvhjvehcv jhfiuhqe iuhoiefwh
            </p>
        </div>

        <div>
            <p>published: 22.09.2018, 12:00</p>
            <h2><a href="">Second post.</a></h2>
            <p>
                gfkugjeqhbjvnb,mnb hlwkqjefklwgfb jkqwfehkwefjhkgjwrq ;uh'kgevlknDVN G HGKJGKHGF
                hjguyjcvhjvkjhwe efwiufuycgueywfyucvuqyvc dqwhqiwudgljhcvb
                cvhjvehcv jhfiuhqe iuhoiefwh
            </p>
        </div>

        <div>
            <p>published: 24.09.2018, 12:00</p>
            <h2><a href="">Third post.</a></h2>
            <p>
                gfkugjeqhbjvnb,mnb hlwkqjefklwgfb jkqwfehkwefjhkgjwrq ;uh'kgevlknDVN G HGKJGKHGF
                hjguyjcvhjvkjhwe efwiufuycgueywfyucvuqyvc dqwhqiwudgljhcvb
                cvhjvehcv jhfiuhqe iuhoiefwh
            </p>
        </div>

     </body>
</html>