{% extends 'blog/base.html' %}

{% block content %}

    {% for post in posts %}

        <div class="card">
            <div class="card-header"><a href="{% url 'blog:post_detail' pk=post.pk %}">{{ post }}</a></div>
            <div class="card-body">
                 <p class="card-text">{{ post.text|linebreaksbr }}</p>
                {% if post.published_date %}
                    <small class="text-muted">published: {{ post.published_date|date:'d F, Y' }}</small>
                {% endif %}
           </div>
        </div>

    {% endfor %}

{% endblock %}
