<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">

        <title>Post List</title>

   </head>
    <body>
         <div class="page-header">
            <h1><a href="/">Blog posts</a></h1>
        </div>

         <div class="content container">
             <div class="row">
                 <div class="col-md-8">
                 {% for post in posts %}
                     <div class="post">
                        <p>published: {{ post.published_date }}</p>
                        <h2><a href="">{{ post }}</a></h2>
                        <p>{{ post.text|linebreaksbr }}</p>
                     </div>
                 {% endfor %}
                 </div>
             </div>
         </div>
        </body>
</html>